 <!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Classifier</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
<body>

<form action="/predict", method= "post">
  <label for="link">Enter your song's YouTube link (max 15 mins): </label><br>
  <input type="text" id="link" name="link" value="https://www.youtube.com/watch?v=ZbZSe6N_BXs"><br>
  <input type="submit" value="Submit">
</form>

</body>
</html> 